avatar/common/__pycache__/
fitting/common/__pycache__/
fitting/tools/
fitting/common/utils/__pycache__/
fitting/data/Custom/__pycache__/
fitting/data/Custom/data
*__pycache__*
avatar/common/utils/human_model_files/
avatar/main/diff-gaussian-rasterization-depth/
avatar/data/Custom/data/
fitting/common/utils/human_model_files/
fitting/output/
fitting/tools/
fitting/tools/code_to_copy/
avatar/main/trasfer5.txt
avatar/output/
fitting/common/__pycache__
fitting/common/utils/__pycache__
fitting/main/trasfer4.txt
fitting/main/trasfer5.txt
*mp4
